<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="jumbotron noBackground jumbotron-fluid">
        <img id="imgValide" class="mx-auto d-block" src="~/upload/Images/Succes.png" />
        <h3 class="mt-4 text-center">L'opération a été effectuée avec succès !</h3>
        <a class="btn btn-primary mt-5 btn-lg mx-auto d-block w-25" href="~/@Model/Index" role="button">Retour à la page précédente</a>
    </div>
</body>


