@model System.Web.Mvc.HandleErrorInfo


<h1 class="text-danger text-center m-3">Erreur.</h1>
<h2 class="text-danger text-center m-2">Une erreur s'est produite pendant le traitement de votre requête.</h2>
<a class="btn btn-primary mt-5 btn-lg mx-auto d-block w-50" href="~/Home/Index" role="button">Retour à l'accueil</a>
