<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="text-center m-3">
        <h2>Projet intégrateur équipe 2</h2>

        <p>Ce site fut créé pour le cours de programmation au cégep de Granby par l'équipe #2.</p>
        <p>Cette équipe est composée de:<br /> VINCENT DESROCHERS<br /> SIDNEY GHARIB<br /> OLIVIER JACQUES<br /> CATHERINE SENAY.</p>
        <p>Nous espérons que vous avez apprécié notre travail</p>
    </div>
</body>


