<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="ml-3">
        <h3 class="mt-4 text-center w-100 bleuPale">Index</h3>

        <ul>
            <li>
                <a href="#tutore">Section tutoré</a>
                <ul>
                    <li><a href="#inscrire">S'inscrire en tant que tutoré</a></li>
                    <li><a href="#inscrireAdmin">S'inscrire par un administrateur</a></li>
                    <li><a href="#modifierProfil">Modifier son profil</a></li>
                    <li><a href="#devenirTuteur">Devenir un tuteur</a></li>
                    <li><a href="#connexion">Se connecter</a></li>
                    <li><a href="#demandeTutorat">Faire une demande de tutorat</a></li>
                    <li><a href="#modifierTutorat">Modifier une demande de tutorat</a></li>
                    <li><a href="#supprimerTutorat">Supprimer une demande de tutorat</a></li>
                    <li><a href="#seances">Voir les séances de tutorat</a></li>
                    <li><a href="#payer">Payer un tutorat</a></li>
                    <li><a href="#refuser">Refuser un paiement</a></li>
                    <li><a href="#commentaire">Écrire un commentaire</a></li>
                    <li><a href="#modifierCommentaire">Modifier un commentaire</a></li>
                    <li><a href="#supprimerCommentaire">Supprimer un commentaire</a></li>
                </ul>
            </li>
            <li>
                <a href="#tuteur">Section tuteur</a>
                <ul>
                    <li><a href="#offreTutorat">Créer une offre de tutorat</a></li>
                    <li><a href="#modifierOffre">Modifier une offre de tutorat</a></li>
                    <li><a href="#supprimerOffre">Supprimer une offre de tutorat</a></li>
                    <li><a href="#creerSeance">Créer une séance de tutorat</a></li>
                    <li><a href="#modifierSeance">Modifier une séance de tutorat</a></li>
                    <li><a href="#terminerSeance">Terminer une séance de tutorat</a></li>
                    <li><a href="#supprimerSeance">Supprimer une séance de tutorat</a></li>
                </ul>
            </li>
        </ul>

        <div class="w-100 bleuPale">&nbsp;</div>

        <h2 id="tutore" class="bleuPale mt-2">Section tutoré</h2>

        <h3 id="inscrire">S'inscrire sur le site web</h3>

        <p>Tout d'abord, vous cliquez sur le bouton "Créer un compte tutoré" à droite dans la barre de menu.</p>

        <img src="~/upload/Images/Capture/CréerCompte.png" />

        <p> Vous serez redirigé vers la page d’inscription suivante : </p>

        <img src="~/upload/Images/Capture/CompteTutore.png" class="w-50 h-50" />

        <p>Suivi par : </p>

        <img src="~/upload/Images/Capture/CompteTutore2.png" class="w-50 h-50" />

        <p>Vous devez remplir tous les champs ayant une petite étoile à côté du nom et cliquez sur le bouton "Soumettre" lorsque le formulaire est rempli.</p>
        <p>Vous serez par la suite automatiquement connecté au site web en tant que "tutoré" et vous posséderez tous les privilèges de ce dernier.</p>

        <h4 id="inscrireAdmin">Inscription par l'administrateur</h4>

        <p>Il est possible que l'administrateur du site ait créé un compte pour vous, il suffit de vous connecter avec l'adresse courriel et le mot de passe fourni par ce dernier.</p>

        <h4 id="modifierProfil">Modifier son profil</h4>

        <p>Vous pouvez modifier votre profil en cliquant sur votre nom en haut à droite de l'écran lorsque vous êtes connecté.</p>

        <img src="~/upload/Images/Capture/ProfilTextef.png" class="w-50 h-50" />

        <p>Cliquez sur "Modifier profil" pour changer les informations que vous voyez sur votre profil.</p>

        <img src="~/upload/Images/Capture/ModifierProfilTutoref.png" class="w-25 h-25" />

        <h4 id="devenirTuteur">Devenir Tuteur</h4>

        <p>Si vous n'êtes pas déjà un tuteur, vous pouvez le devenir en cliquant sur la barre de menu "Devenir tuteur".</p>

        <img src="~/upload/Images/Capture/Nav SeancesEtTuteursDevenirTuteur.png" class="w-25 h-25" />

        <p>La page suivante apparaîtra :</p>


        <img src="~/upload/Images/Capture/FormDevenirTuteurVidef.png" class="w-50 h-50" />

        <p>
            Votre demande pour devenir tuteur sera envoyée à l'administrateur, vous deviendrez un tuteur au moment où l'administrateur aura accepté un des cours demandés.
            Vous pouvez voir le statut de vos cours demandés sur votre profil.
        </p>

        <h3 id="connexion">Connexion</h3>

        <p>Lorsque vous possédez déjà un compte, vous pouvez vous connecter en cliquant sur le bouton "Se connecter" affiché ci-dessous.</p>

        <img src="~/upload/Images/Capture/Connexion.png" />

        <p> La page de connexion demande votre adresse courriel du collège et votre mot de passe.</p>

        <img src="~/upload/Images/Capture/EcranConnexion.png" class="w-50 h-50" />

    </div>

    <div class="ml-3">

        <h3 id="demandeTutorat">Faire une demande de tutorat </h3>

        <p>Lorsque vous souhaitez avoir du tutorat, vous pouvez créer une demande de tutorat. </p>

        <img src="~/upload/Images/Capture/NavDemandesCreerDemandef.png" class="w-25 h-25" />

        <p>La page suivante apparaîtra :</p>

        <img src="~/upload/Images/Capture/FormCreationDemandeVidef.png" class="w-50 h-50" />

        <p>Inscrivez le ou les cours pour lesquels vous avez besoin de tutorat. </p>

        <img src="~/upload/Images/Capture/FormCreationDemande DatePicker.png" class="w-50 h-50" />

        <p>Une fois le ou les cours choisis, veuillez entrer vos plages horaires de disponibilités.</p>

        <p>Votre demande apparaîtra dans la liste des demandes où tous les tuteurs pourront voir. Un tuteur intéressé vous contactera par courriel pour organiser le tutorat.</p>

        <h3 id="modifierTutorat">Modifier une demande de tutorat </h3>

        <p>Vous pouvez modifier une demande après en avoir créé une. Il suffit de vous rendre dans votre liste de demandes, puis de cliquer sur le bouton "Modifier" de la demande que vous souhaitez changer.</p>
        <img src="~/upload/Images/Capture/NavDemandesEtOffresTutoreGererDemandesf.png" class="w-25 h-25" />
        <img src="~/upload/Images/Capture/ListeGererDemandesf.png" class="w-75 h-75" />

        <h3 id="supprimerTutorat">Supprimer une demande de tutorat </h3>

        <p>Pour supprimer une demande, il suffit de cliquer sur le bouton "Supprimer".</p>
        <img src="~/upload/Images/Capture/ListeGererDemandesSupprimerf.png" class="w-75 h-75" />

        <h3 id="seances">Voir les séances de tutorat</h3>

        <p>En tant que tutoré, vous pouvez voir vos séances avec vos différents tuteurs, ainsi que les plages horaires des séances.</p>

        <img src="~/upload/Images/Capture/NavSeancesEtTuteursTutoref.png" class="w-25 h-25" />

        <p>Voici un exemple d'une séance avec une plage horaire :</p>

        <img src="~/upload/Images/Capture/ListeSeancesTutore.png" class="w-75 h-75" />

        <h3 id="payer">Payer un tutorat</h3>

        <p>Lorsqu'un tutorat prend fin, vous devez payer le tuteur pour ses services de tutorat. Cliquez sur "Paiement", puis sur "Voir mes paiements en attente".</p>

        <img src="~/upload/Images/Capture/NavPaiementEnAttentef.png" class="w-25 h-25" />

        <p> Repérez le bouton "Payer" pour débuter le paiement. Des détails plus précis du paiement suivront après que vous ayez cliqué sur le bouton.</p>

        <img src="~/upload/Images/Capture/ListePaiementEnAttentef.png" class="w-50 h-50" />

        <p>Vous pourrez par la suite payer le montant total en cliquant sur "Payer avec une carte".</p>

        <img src="~/upload/Images/Capture/Payerf.png" class="w-25 h-25" />

        <p>Pour compléter le paiement, vous n'avez qu'à rentrer les informations de votre carte de crédit, puis cliquez sur le bouton "Payer" pour finaliser le tout.</p>

        <img src="~/upload/Images/Capture/Stripe.png" class="w-25 h-25" />

        <h3 id="refuser">Refuser un paiement</h3>

        <p>
            Vous pouvez refuser un paiement lorsque les plages horaires ou les heures des séances sont inexactes. Le paiement sera renvoyé au tuteur pour qu'il puisse modifier
            les plages horaires et les heures. Nous vous recommandons fortement de communiquer avec votre tuteur personnellement pour discuter des modifications à effectuer.
        </p>

        <img src="~/upload/Images/Capture/Refuserf.png" class="w-25 h-25" />

        <p>Lorsque votre tuteur renverra le paiement avec la ou les modifications, vous pourrez apercevoir que le nombre de refus sur le paiement sera à "1".</p>

        <img src="~/upload/Images/Capture/CompteurRefusf.png" class="w-50 h-50" />

        <p>IMPORTANT : Advenant le cas où vous refusez pour une deuxième fois le paiement, celui-ci sera "gelé" et il sera envoyé à l'administration pour que cela soit géré à l'interne.</p>


        <h3 id="commentaire">Écrire un commentaire</h3>

        <p>En tant que tutoré, vous pouvez écrire un commentaire sur les tuteurs que vous avez eu au moins une séance.</p>

        <p class="textePlusPetit">Écrire un commentaire est seulement disponible aux tutorés qui ne sont pas des tuteurs.*</p>

        <img src="~/upload/Images/Capture/NavEcrireCommentaire.png" class="w-25 h-25" />

        <p>
            Dans la page ci-dessous, vous devez remplir tous les champs pour que votre commentaire soit valide. Nous vous demandons de rester respectueux et poli.
            Votre commentaire sera visible par le tuteur et par tous les autres utilisateurs du site. L'administration peut supprimer votre commentaire si celle-ci juge qu'il est inapproprié.
        </p>

        <img src="~/upload/Images/Capture/FormCreerCommentairef.png" class="w-50 h-50" />

        <h3 id="modifierCommentaire">Modifier un commentaire</h3>

        <p>Pour modifier un commentaire, il suffit de cliquer sur le bouton "Commentaire", puis sur le bouton "Commentaires envers tuteurs".</p>

        <img src="~/upload/Images/Capture/NavCommentaireEnversTuteurf.png" class="w-25 h-25" />

        <p>Par la suite, cliquez sur le bouton "Modifier" qui est relié au commentaire que vous souhaitez modifier.</p>

        <img src="~/upload/Images/Capture/ModifierCommentairef.png" class="w-50 h-50" />

        <h3 id="supprimerCommentaire">Supprimer un commentaire</h3>

        <p>Vous devez cliquer sur le bouton "Supprimer" pour supprimer votre commentaire.</p>

        <img src="~/upload/Images/Capture/SupprimerCommentairef.png" class="w-50 h-50" />

    </div>

    <div class="ml-3">
        <h2 id="tuteur" class="bleuPale mt-2">Section tuteur</h2>

        <h3 id="offreTutorat">Créer une offre de tutorat</h3>
        <p>Pour créer une offre de tutorat, vous devez cliquez sur la section "Offres / Demandes" puis sur "Créer une offre"</p>

        <img src="~/upload/Images/Capture/NavGererOffresTuteurf.png" class="w-25 h-25" />d

        <p>
            Il est important de constater que seuls les cours maitrisés validés (cours approuvés par l'administrateur) sont disponibles pour une offre. Pour voir la
            liste des cours maitrisés, veuillez accéder à votre profil.
        </p>

        <img src="~/upload/Images/Capture/CreerOffref.png" class="w-50 h-50" />

        <h3 id="modifierOffre">Modifier une offre de tutorat</h3>

        <p>Vous pouvez modifier une offre de tutorat en cliquant sur la section "Offres / Demandes" puis sur "Gérer mes offres .</p>

        <img src="~/upload/Images/Capture/NavGererOffresTuteurf.png" class="w-25 h-25" />

        <p>Cliquez sur le bouton "Modifier" lié à l'offre que vous souhaitez changer.</p>
        <img src="~/upload/Images/Capture/BtnModifierOffref.png" class="w-50 h-50" />

        <h3 id="supprimerOffre">Supprimer une offre de tutorat</h3>

        <p>Vous pouvez supprimer une offre de tutorat en cliquant sur bouton "Supprimer" qui est relié à l'offre.</p>

        <img src="~/upload/Images/Capture/SupprimerOffref.png" class="w-50 h-50" />


        <h3 id="creerSeance">Créer une séance de tutorat</h3>

        <p>Pour créer une séance de tutorat, cliquez sur la section "Séances / Tuteurs" puis sur "Ajouter une séance".</p>

        <img src="~/upload/Images/Capture/NavSeancesEtTuteursTuteurAjouterSeancef.png" class="w-25 h-25" />

        <p>Indiquez le tutoré avec lequel les séances de tutorat auront lieu ainsi que les plages horaires.</p>

        <img src="~/upload/Images/Capture/AjoutSeancef.png" class="w-50 h-50" />


        <h3 id="modifierSeance">Modifier une séance de tutorat</h3>

        <p>Pour créer une séance, cliquez sur la section "Séances / Tuteurs" puis sur "Gérer mes séances de tutorat".</p>

        <img src="~/upload/Images/Capture/NavSeancesEtTuteursTuteurGererSeancef.png" class="w-25 h-25" />

        <p>Cliquez sur le bouton "Modifier" lié au tutorat que vous souhaitez changer.</p>

        <img src="~/upload/Images/Capture/IndexSeanceTuteurModifierf.png" class="w-50 h-50" />

        <h3 id="terminerSeance">Terminer une séance de tutorat</h3>

        <p>Lorsque toutes les séances de tutorat sont terminées, vous pourrez initialiser le paiement pour le tutoré, en cliquant sur le bouton "Terminer" lié au tutorat.</p>

        <img src="~/upload/Images/Capture/IndexSeanceTuteurTerminerf.png" class="w-50 h-50" />


        <h3 id="supprimerSeance">Supprimer une séance de tutorat</h3>

        <p>Vous pouvez supprimer une séance de tutorat en cliquant sur bouton "Supprimer" qui est lié au tutorat.</p>

        <img src="~/upload/Images/Capture/IndexSeanceTuteurSupprimerf.png" class="w-50 h-50" />

    </div>
</body>
